@model IEnumerable<BrakeBillCourseSchema.Models.Course>

@using (Ajax.BeginForm("StudentCreate", "Student",
ajaxOptions: new AjaxOptions
{
    UpdateTargetId = "StudentIndex",
    InsertionMode = InsertionMode.ReplaceWith,
}))
{
    <div class="form-horizontal">
        <h4>Register a new student:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    Students firstname: @Html.Editor("Firstname")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    Students lastname: @Html.Editor("Lastname")
                </div>
            </div>
            <div class="form-group">
               
                <div class="col-md-3">
                    Which course to attend: <select name="Courseid">
                        @foreach (var item in Model)
                        {
                            <option value="@item.CourseId">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-3">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

    <div>
        @Ajax.ActionLink("Back to List", "Index2", "Student",
        ajaxOptions: new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "StudentIndex",
        })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


