@model IEnumerable<BrakeBillCourseSchema.Models.Course>

@using (Ajax.BeginForm("StudentCreate", "Student",
ajaxOptions: new AjaxOptions
{
 UpdateTargetId = "StudentCreate",
 InsertionMode = InsertionMode.ReplaceWith,
}))
{
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-3">
                Students firstname: @Html.Editor("Firstname")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                Students lastname: @Html.Editor("Lastname")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Selcted Course")
            <div class="col-md-3">
                Which course to attend: <select>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-3">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


