@model BrakeBillCourseSchema.Models.Student

<ul class="row" id="@("StudentId" + Model.StudentId)">
    <li class="col-md-3">
        @Html.DisplayFor(modelItem => Model.Firstname)
    </li>
    <li class="col-md-3">
        @Html.DisplayFor(modelItem => Model.Lastname)
    </li>
    <li class="col-md-3">
        @Ajax.ActionLink("Hide Assignments", "ShowStudent", "Student", new { id = Model.StudentId },
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId= "StudentId" + Model.StudentId,
                InsertionMode= InsertionMode.ReplaceWith
           })
    </li>
    <li class="col-md-3"></li>
    <li class="rowbreak"></li>
    @foreach (var item in Model.StudentAssignments)
    {
        <li class="row"></li>
        <li class="col-md-2">Assignment:</li>
        <li class="col-md-5">@item.AssignmentName</li>
        <li class="col-md-5">@item.Description</li>
        <li class="rowbreak"></li>
    }
</ul>