@model BrakeBillCourseSchema.Models.Student

<ul class="row" id="@("StudentId" + Model.StudentId)">
    <li class="col-md-3">
        @Html.DisplayFor(modelItem => Model.Firstname)
    </li>
    <li class="col-md-3">
        @Html.DisplayFor(modelItem => Model.Lastname)
    </li>
    <li class="col-md-6">
        @*foreach (var item in Model.StudentCourses)
            {
                @Html.Label("Name:") @item.Name


                @*Html.RenderPartial("_ShowStudentCourses",item)*@
        }
        @*Show Partialview with all the courses the student is signed up for. Html.DisplayFor(modelItem => item.)
        *@


        @Ajax.ActionLink("Hide Assignments", "ShowStudent", "Student", new { id = Model.StudentId },
       ajaxOptions: new AjaxOptions
       {
           UpdateTargetId= "StudentId" + Model.StudentId,
           InsertionMode= InsertionMode.ReplaceWith
       }) |

    </li>
    <li class="rowbreak"></li>
    <li class="col-md-12">
        @foreach (var item in Model.StudentAssignments)
        {
            <li class="col-md-2">Assignment:</li>
            <li class="col-md-5">@item.Name</li>
            <li class="col-md-5">@item.Description</li>
            <li class="rowbreak"></li>
        }
    
</ul>

