@model IEnumerable<BrakeBillCourseSchema.Models.Assignment>

@{
    ViewBag.Title = "Assignments";
}

<h2>Assignments</h2>

<div id="AssignmentCreate">
    @Html.ActionLink("Create New Assignment", "AssignmentCreate", "Assignment")
</div>
<div class="table">
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.AssignmentName)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.CourseId)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.IsCompletedByStudent)
        </div>
       
        <div class="col-md-3"></div>
    </div>

@foreach (var item in Model) {
    <div class="row" id="@("AssignmentId" + item.AssignmentId)">
        <div class="col-md-3">
            @Html.DisplayFor(modelItem => item.AssignmentName)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(modelItem => item.CourseId)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.StudentId)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.IsCompletedByStudent)
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Edit", "AssignmentEdit","Assignment", new { id = item.AssignmentId }) |
            @Html.ActionLink("Show description", "AssignmentDescription", "Assignment", new { id = item.AssignmentId }) |
            @Html.ActionLink("Delete", "AssignmentDelete", "Assignment", new { id = item.AssignmentId })
            
        </div>
    </div>
}

</div>
