@model IEnumerable<BrakeBillCourseSchema.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<div id="CourseCreate">
    @Html.ActionLink("Create New Course", "CourseCreate" , "Course")
</div>
<div class="table">
    <div>
        <div>
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.hasTeacher)
        </div>
        <div></div>
    </div>

@foreach (var item in Model) {
    <div id="@"CourseId" + item.Id">
        <div>
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.hasTeacher)
        </div>
        <div>
            @Html.ActionLink("Edit", "CourseEdit", "Course", new { id=item.Id }) |
            @Html.ActionLink("Details", "CourseDetails", "Course", new { id=item.Id }) |
            @Html.ActionLink("Delete", "CourseDelete", "Course", new { id=item.Id })
        </div>
    </div>
}

</div>
