@model IEnumerable<BrakeBillCourseSchema.Models.Student>

@{
    ViewBag.Title = "Students";
}
<div id="StudentIndex">
    <h2>Students</h2>
    <div id="StudentCreate">
        @Html.Partial("_StudentCreate")
    </div>

    <ul class="row">
        <li class="col-md-3">
            @Html.DisplayNameFor(model => model.Firstname)
        </li>
        <li class="col-md-3">
            @Html.DisplayNameFor(model => model.Lastname)
        </li>
        <li class="col-md-6"></li>
        <li class="rowbreak"></li>

    </ul>
    @foreach (var item in Model)
    {
        <ul class="row" id="@("StudentId" + item.StudentId)">
            <li class="col-md-3">
                @Html.DisplayFor(modelItem => item.Firstname)
            </li>
            <li class="col-md-3">
                @Html.DisplayFor(modelItem => item.Lastname)
            </li>
            <li class="col-md-6">
                @*Show Partialview with all the courses the student is signed up for. Html.DisplayFor(modelItem => item.)
                *@

                @Html.ActionLink("Edit", "StudentEdit", "Student", new { id = item.StudentId }) |
                @Html.ActionLink("List Courses", "StudentListCourses", "Student", new { id = item.StudentId }) |
                @Ajax.ActionLink("Delete", "StudentDelete", "Student", new { id = item.StudentId },
                ajaxOptions: new AjaxOptions
               {
                   UpdateTargetId= "StudentId" + item.StudentId,
                   InsertionMode= InsertionMode.ReplaceWith
               })
            </li>
            <li class="rowbreak"></li>
        </ul>
    }
</div>

