@model IEnumerable<BrakeBillCourseSchema.Models.Student>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<div id="StudentCreate">
    @Ajax.ActionLink("New Student", "StudentCreateForm", "Student",
    ajaxOptions: new AjaxOptions {
        InsertionMode=InsertionMode.Replace,
        UpdateTargetId= "StudentCreate",
    })
</div>

    <ul class="row">
        <li class="md-col-3">
            @Html.DisplayNameFor(model => model.Firstname)
        </li>
        <li class="md-col-3">
            @Html.DisplayNameFor(model => model.Lastname)
        </li>
        <li class="md-col-6"></li>
        <li class="rowbreak"></li>

    </ul>
    @foreach (var item in Model)
    {
        <ul id="@("StudentId" + item.Id)">
            <li class="md-col-3">
                @Html.DisplayFor(modelItem => item.Firstname)
            </li>
            <li class="md-col-3">
                @Html.DisplayFor(modelItem => item.Lastname)
            </li>
            <li class="md-col-6">
                @*Show Partialview with all the courses the student is signed up for. Html.DisplayFor(modelItem => item.)
                     </li>
                    @* <li>
                         @Html.DisplayFor(modelItem => item.ToStudent)
                     </li>*@

                @Html.ActionLink("Edit", "StudentEdit", "Student", new { id = item.Id }) |
                @Html.ActionLink("List Courses", "StudentListCourses", "Student", new { id = item.Id }) |
                @Html.ActionLink("Delete", "StudentDelete", "Student", new { id = item.Id })

            </li>
            <li class="rowbreak"></li>

        </ul>
    }


