@model IEnumerable<BrakeBillCourseSchema.Models.Teacher>

@{
    ViewBag.Title = "Teachers";
}

<h2>Teachers</h2>

<div id="TeacherCreate">
    @Html.ActionLink("New Teacher", "TeacherCreate","Teacher")
</div>
<div class="table">
    <div>
        <div>
            @Html.DisplayNameFor(model => model.Firstname)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Lastname)
        </div>
        <div></div>
    </div>

@foreach (var item in Model) {
    <div id="@"TeacherId" + item.Id">
        <div>
            @Html.DisplayFor(modelItem => item.Firstname)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Lastname)
        </div>
        <div>
            @Html.ActionLink("Edit", "TeacherEdit", "Teacher", new { id=item.I }) |
            @Html.ActionLink("Show Courses", "TeacherShowCourses", "Teacher", new { id=item.I }) |
            @Html.ActionLink("Delete", "TeacherDelete", "Teacher", new { id=item.I })
        </div>
    </div>
}

</div>
